* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.full-screen-video-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.full-screen-video-container video {
  position: absolute;
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-screen-video-content {
  position: absolute;
  background-color: aliceblue;
  color: black;
  border: none;
  border-radius: 7px;
  padding: 20px 35px;
  font-size: 2.5rem;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
